*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 1.7;
  color: #626262;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Первый блок (header) */

.header {
  padding-top: 65px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a {
  font-family: 'Inconsolata', monospace;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 6px;
  margin-left: 70px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color .1s linear;
}

.nav__link:last-child {
  margin-right: 70px;
}

.nav a {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover  {
  color: #000;
}

.main__photo {
  margin-top: 51px;
  margin-left: 70px;
}

/* Второй блок (review) */

.section {
  padding-top: 95px;
}

.review {
  padding: 0 150px;
}

.review__suptitle {
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.review__title {
  color: #626262;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
}

.review__content {
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  width: 900px;
  margin-top: 25px;
}

.review__suptitle.feedback {
  margin-top: 50px;
}

/* Третий блок (lifestyle) */

.lifestyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lifestyle__inner:nth-child(odd) {
  padding-left: 150px;
}

.lifestyle__inner:nth-child(even) {
  padding-right: 150px;
}

.lifestyle__inner:nth-child(n+3) {
  margin-top: 130px;
  margin-bottom: 130px;
}

.lifestyle__suptitle {
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  text-transform: uppercase;
}

.lifestyle__title {
  color: #626262;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
}

.lifestyle__content  {
color: #626262;
font-size: 14px;
font-weight: 400;
width: 420px;
margin-top: 20px;
}

/* Четвёртый блок (sign up) */

.sign-up {
  width: 100%;
  position: relative;
}

.sign-up__title {
  color: #333333;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.75px;
  margin-top: -105px;
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}

.sign-up form {
  text-align: center;
}

input[type="email"] {
  border: none;
  color: #626262;
  background-color: #f0f0f0;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 235px 10px 5px;
  border-bottom: 2px solid #000000;
  margin-bottom: 80px;
}

input[type="email"]::placeholder  {
  text-align: start;
  vertical-align: top;
}

input[type="email"]:focus {
  outline-color: #000000;
  border: 2px solid #000000;
}

.sign-up__icon {
  position: absolute;
  top: 173px;
  right: 410px;
}

.section--gray {
  background-color: #f0f0f0;
}

/* Пятый блок (photo diary) */

.photo-diary__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 8px;
}

.button {
  color: #626262;
  font-size: 20px;
  font-weight: 400;

  display: block;
  width: 164px;
  height: 60px;
  border: 1px solid #626262;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  margin-top: 125px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.button:hover {
  background-color: #6262622a;
  color: #000;

}

/* Шестой блок (footer) */

.footer {
  margin-top: 100px;
  background-color: #f0f0f0;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.social-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0 180px;
}

.social a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.social-right {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0 180px;
}

.social-right__images img {
  padding: 0 10px;
}

.social-right__images:last-child {
  padding-right: 50px;
}

/* Button */

.menu-icon-wrapper {
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  margin-right: 5%;
  display: none;
  position: relative;
  z-index: 10;
}

.menu-icon {
  width: 25px;
  height: 2px;
  background-color: #000;
  position: relative;
}

.menu-icon::before {
  content: '';
  width: 25px;
  height: 2px;
  top: -7px;
  left: 0;
  background-color: #000;
  display: block;
  position: absolute;
  transition: transform .2s linear, top .2s linear .2s;
}

.menu-icon::after {
  content: '';
  width: 25px;
  height: 2px;
  top: 7px;
  left: 0;
  background-color: #000;
  display: block;
  position: absolute;
  transition: transform .2s linear, top .2s linear .2s;
}

.menu-icon.active {
  background-color: transparent;
}

.menu-icon.active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top .2s linear, transform .2s linear .2s;
}

.menu-icon.active::after {
  transform: rotate(135deg);
  top: 0;
  transition: top .2s linear, transform .2s linear .2s;
}

/* Mobile navigation */

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -320px;
  top: 0;
  width: 320px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: transform .5s linear;
}

.mobile-nav__link {
  color: #626262;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.mobile-nav__link:first-child {
  padding-top: 50px;
}

.mobile-nav__link:hover {
  color: #000;
}

.mobile-nav--active {
  transform: translateX(-100%);
}



/* ----- Media ----- */

@media (max-width: 1200px) {

  .main__photo {
    margin-left: 0;
    padding: 0 25px;
  }

  .nav__link {
    margin: 0 30px;
  }

  .nav__link:last-child {
    padding-right: 25px;
  }

  .section {
    padding-top: 70px;
  }

  .review__content {
    width: 100%;
  }
  
  .review__title {
    margin-top: 10px;
  }

  .review__content {
    margin-top: 10px;
  }

  .lifestyle__inner:nth-child(odd) {
    padding-left: 75px;
  }

  .lifestyle__inner:nth-child(even) {
    padding-right: 75px;
  }

  .social-right {
    justify-content: center;
    padding: 0;
  }

  .social-left {
    justify-content: center;
    padding: 0 13%;
  }

  .social-left a {
    margin: 0 10px;
    

  }
}

@media (max-width: 1024px) {

  .nav__link {
    margin: 0 15px;
  }

  .main__photo {
    width: 100%;
  }

  .nav {
    display: flex;
  }

  .header__logo a {
    font-size: 24px; 
    margin-left: 30px;
  }

  .nav__link:last-child {
    margin-right: 0px;
  }

  .section {
    padding-top: 30px;
  }

  .review__title {
    font-size: 24px;
  }

  .review {
    padding: 0px 80px;
  }

  .lifestyle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lifestyle__inner {
    width: 100%;
    display: flex;
  }

  .lifestyle__suptitle {
    display: none;
  }

  .lifestyle__inner:nth-child(odd) {
    padding: 0 50px;
  }

  .lifestyle__inner:nth-child(even) {
    padding: 0 50px;
  }

  .lifestyle__inner:nth-child(n+3) {
    margin: 0;
  }

  .lifestyle__photo {
    margin-bottom: 50px;
  }
  
  .lifestyle-wrapper {
    margin-left: 5%;
  }

  .lifestyle__title {
    font-size: 24px;
    line-height: 1.2;
  }

  .lifestyle__content {
    margin-top: 10px;
    width: 100%;
  }

  .sign-up__title {
    margin-top: -50px;
  }

  .sign-up__icon {
    display: none;
  }
}


@media (max-width: 768px) {

  .menu-icon-wrapper {
    display: block;
  }

  .nav {
    display: none;
  }

  .section {
    padding-top: 15px;
  }

  .review__title {
    font-size: 22px;
    text-align: center;
  }

  .review__content {
    font-size: 14px;
  }

  .header {
    padding-top: 30px;
  }

  .review__suptitle.feedback {
    margin-top: 25px;
  }

  .review {
    padding: 0px 35px;
  }

  .lifestyle__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lifestyle__title {
    margin-top: -30px;
    text-align: center;
    font-size: 22px;
  }

  .lifestyle__content {
    margin-bottom: 30px;
  }

  .mobile-nav {
    right: -100%;
    top: 0;
    width: 100%;
  }

  .invisible {
    opacity: 0;
  }
}

@media (max-width: 500px) {

  .header__logo a {
    font-size: 18px;
  }

  .review {
    padding: 0px 20px;
  }

  .section {
    padding-top: 5px;
  }

  .review__title {
    font-size: 20px;
    text-align: center;
  }

  .review__content {
    font-size: 12px;
    margin: 0;
  }

  .review__suptitle {
    font-size: 10px;
    margin-left: 10px;
  }

  .lifestyle__inner:nth-child(odd) {
    padding: 0 20px;
  }

  .lifestyle__inner:nth-child(even) {
    padding: 0 20px;
  }

  .lifestyle__photo {
    width: 100%;
  }
  
  .lifestyle__title {
    font-size: 20px;
  }

  .sign-up__title {
    font-size: 26px;
    padding-bottom: 30px;
    line-height: 1.2;
  }

  input[type="email"] {
    padding: 1% 15% 1%;
}


  .social-left {
      padding: 0px 0%;
  }

  .social-right__images:last-child {
    padding-right: 0px;
  }

  .social-right__images img {
    padding: 0 5px;
  }

  .button {
    margin-top: 50px;
  }
}